

/* navbar */
nav {
    background-color: #fffbf0;
}

nav a {
    font-family: 'Roboto', sans-serif;
    color: #3e3e3e; 
    font-size: 15px;
}

nav a:hover {
    color: #a4bc46;
}

nav .active {
    font-weight: 500;
}

/* end of navbar */

/* main section */
.main-section {
    background-color: #fffbf0;
    margin-top: 5%;
    padding-bottom: 12%;
}

.main-section h1 {
    margin-top: 20%;
}

/* .main-section .image-holder {
    background-color: #85A019;
}


.main-section .image-holder >div {
    background-color: yellow;
}

.main-section .image-holder img {
    background-color: red;
    
} */

.parent {
        overflow: auto;
        white-space: nowrap;
}
.btn-primary {
    background: linear-gradient(to bottom, #A4BC46, #85A019);
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.highlight {
    color: #FABE4C;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #363958;
    text-transform: uppercase;
}
p {
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
}

@media screen and (max-width: 992px) {
    .main-section h1 {
      margin-top: 20%;
    }
}


  @media screen and (max-width: 400px) {
    .main-section h1 {
      margin-top: 40%;
    }
  }

  @media screen and (max-width: 320px) {
    .main-section h1 {
      margin-top: 50%;
    }
  }

  @media screen and (max-width: 270px) {
    .main-section h1 {
      margin-top: 80%;
    }
  }


@media screen and (max-width: 992px) {
    .main-section img {
        width: fit-content;
    }
}


@media screen and (max-width: 766px) {
    .man-jacket-section h2 {
        text-align: center;
    }
}

@media screen and (max-width: 766px) {
    .woman-jacket-section h2 {
        text-align: center;
    }
}



@media screen and (max-width: 766px) {
    .contact-section .info {
      text-align: center;
    }

    .contact-section .info li{
        text-align: center;
    }

    .contact-section .info-1 {
        text-align: center;  
    }

}


/* end of main section */

/* woman jacket section */
.woman-jacket-section .row >div {
    padding:0 10px;
}
.card {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.07 );
    padding: 15px;
}

.woman-jacket-section h4 {
    padding-top: 20px;
}

.woman-jacket-section .image-holder {
    height: 20em;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.woman-jacket-section .image-holder img{
    max-width: 100%;
    max-height: 80%;

}
   
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #363958;
    text-transform: uppercase;
}

h4 {
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.man-jacket-section h4 {
    padding-top: 20px;
}
/* end of woman jacket section */

.man-jacket-section .row >div {
    padding:0 10px;
}

.man-jacket-section .image-holder {
    height: 20em;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.man-jacket-section .image-holder img{
    max-width: 100%;
    max-height: 80%;

}

/* offer section */
.offer-section .offer-feature {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.07 );
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-section .offer-card {
    padding: 5px;
}

/* end of offer section */

/* contact section */
.contact-section {
    background-color: #f5f5f5;
}

.contact-section ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

.contact-section img {
    width: 90%;
    margin-top: -8%;
}
.contact-section ul a {
    text-decoration: none;
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact-section h4 >a {
    text-decoration: none;
    color: #3e3e3e;
}
.contact-section h4 {
   font-weight: 500;
}

.contact-section button {
    background-color: #3e3e3e;
    color: #fff;
    border: none;
}

.contact-section button:hover {
    background-color: #a4bc46;
}

.contact-section a:hover{
    color: #8ba817;
}
/* end of contact section */

